<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{%load static%}
{% csrf_token %}
    <div class="display_data"></div>
        <p>Your name: {{ name }}</p>
        <p>Your Mobile number: {{ phone_number }}</p>
        <p>Your email: <a href="{{ email }}">{{ email}}</a></p>
        <p>Your Linked accout url: <a href="{{ linkedin_url }}">{{ linkedin_url }}</a></p>
        <p>Your Github accout url: <a href="{{ Github_url }}">{{ Github_url }}</a></p>
    </div>
</body>
</html>